.featured {
}

.scoreItem {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	margin: 20px;
	padding: 30px;
	cursor: pointer;
}

.scoreTitle {
	font-size: 30px;
	margin-left: 5em;
}

.npsContainer {
	background-color: rgb(201, 196, 192);
	font-size: 30px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-left: 5em;
}

.npsScore {
}
