.score {
	display: flex;
}

.scoreItem {
	min-width: 45%;
	/* min-height: 70vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 70px;
	margin-top: 24px;
	padding: 1.5rem;
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: lightgray 0px 0px 5px 2px;
}

/* .nps-classes-wrapper {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	padding: 2rem;
	border: 1px solid gray;
	border-radius: 4px;
} */

h2 {
	padding: 0.5rem;
}

/* .nps-classes-prom {
	font-size: 1.5rem;
	font-weight: bold;
	color: #2a9d8f;
}

.nps-classes-pass {
	font-size: 1.5rem;
	font-weight: bold;
	color: #e2b33c;
}
.nps-classes-detr {
	font-size: 1.5rem;
	font-weight: bold;
	color: #e76f51;
} */
