@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Georama:wght@600;700&family=Rubik:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	background-color: #f3f1ee;
}

/******** Navbar ********/

.navbar {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
}

a.navbar-brand {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
}

/******** Dashboard ********/

.dashboard {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.gridwrapper {
	display: grid;
	grid-gap: 1.2rem;
	grid-template-areas:
		'a d'
		'b d'
		'b d'
		'b d'
		'c d'
		'c d'
		'c d'
		'c d'
		'c d'
		'c d';
	grid-template-rows: repeat(10, 7.2%);
	grid-template-columns: repeat(2, 45vw);
	box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.14);
	background-color: rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	height: 90vh;
}

.card-header-wrapper {
	width: 100%;
	height: 50px;
	background: #f3f1ee;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cards-header {
	font-family: Georama;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	color: #024b4b;
}

.card-header-dates {
	font-family: Georama;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #024b4b;
}

/******** Calendar ********/

.calendar1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	grid-area: a;
	background-color: #eb895f;
	border-radius: 15px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
}

input {
	border-radius: 10px;
	border: none;
	padding: 0.1rem;
}

label {
	margin: 0.5rem;
}

.show-button {
	background: #257c8e;
	border: none;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	min-width: 135px;
	height: 2.2rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
}

/******** Net Promoter Score ********/

.nps-wrapper {
	grid-area: b;
	background-color: white;
	border-radius: 15px;
}

.scoreItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	width: 100%;
	height: 80%;
}

.nps-one-category {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #2e282a;
	display: flex;
	align-items: center;
	line-height: 160%;
}

.sum-number {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	color: #2e282a;
	margin-left: 1.5rem;
	width: 60px;
}

.nps-category-circle-promoters {
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 50%;
	background-color: #05a8aa;
}

.nps-category-circle-passives {
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 50%;
	background-color: #ffcb5c;
}

.nps-category-circle-detractors {
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 50%;
	background-color: #f07f4e;
}

.nps-category-circle-total {
	height: 30px;
	width: 25px;
	border: none;
	border-radius: 50%;
}

.nps-category-line {
	height: 1px;
	width: 200px;
	background-color: #c4c4c4;
	margin-left: 40px;
}

/******** Chart ********/

.chart-wrapper {
	grid-area: c;
	background-color: white;
	border-radius: 15px;
}

.chart {
	width: 100%;
}

/******** Responses ********/

.responses-wrapper {
	grid-area: d;
	background-color: white;
	border-radius: 15px;
}

.responses-list {
	height: 91%;
	padding: 1rem;
	overflow: auto;
}

.response {
	display: flex;
	flex-direction: column;
	border: 1px solid #c4c4c4;
	border-radius: 7px;
	margin-bottom: 4px;
	padding: 3px;
}

.response-date {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #949494;
	margin-left: 2rem;
}

.response-comment {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #2e282a;
	margin-left: 2rem;
}

/******** Settings-page ********/

.settings-page {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.nps-survey-wrapper {
	background-color: white;
	box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.13);
	border-radius: 15px;
	height: 50vh;
	width: 50vw;
	margin-top: 3rem;
}

.embeddedcode-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.guide-and-link-wrapper {
	width: 90%;
	margin: 2rem;
	display: flex;
	justify-content: space-around;
}

.code-wrapper {
	border: 1px solid #949494;
	border-radius: 5px;
	width: 90%;
	padding: 2rem;
	background-color: #fafafa;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}
